//-; { "title": "picoCTF 2013 Solutions" }
:markdown
	picoCTF 2013 Solutions
	========================

	Here are each of the problems, in order:

	* [Failure to Boot: 20](Failure%20to%20Boot/)
	* [Read the Manual: 30](Read%20the%20Manual/)
	* [Technician Challenge: 30](Technician%20Challenge/)
	* [XMLOL: 30](XMLOL/)
	* [Grep is Your Friend: 40](Grep%20is%20Your%20Friend/)
	* [First Contact: 40](First%20Contact/)
	* [Try Them All!: 45](Try%20Them%20All!/)
	* [Trivial: 45](Trivial/)
	* [GETKey: 50](GETKey/)
	* [Spaceport Map: 55](Spaceport%20Map/)
	* [Bitwise: 55](Bitwise/)
	* [Yummy: 60](Yummy/)
	* [Byte Code: 70](Byte%20Code/) 
	* [CFG to C: 70](CFG%20to%20C/)
	* [NAVSAT: 70](NAVSAT/)
	* [Spamcarver: 70](Spamcarver/)
	* [Classic: 70](Classic/)
	* [RSA: 70](RSA/)
	* [Pilot Logic: 75](Pilot%20Logic/)
	* [Client-Side is the Best Side: 75](Client-Side%20is%20the%20Best%20Side/)
	* [Robomunication: 80](Robomunication/)
	* [Second Contact: 85](Second%20Contact/)
	* [avaJ: 85](avaJ/)
	* [PHP2: 85](PHP2/)
	* [hotcoffee: 85](hotcoffee/)
	* [Python Eval 1: 85](Python%20Eval%201/)
	* [DDoS Detection: 85](DDoS%20Detection/)
	* [In Hex, No One Can Hear You Complain: 90](In%20Hex%2C%20No%20One%20Can%20Hear%20You%20Complain/)
	* Overflow 1: 90 
	* Python Eval 2: 95 
	* Pretty Hard Programming: 95 
	* ROP 1: 95 
	* Chromatophoria: 100 
	* Format 1: 100 
	* Overflow 2: 100 
	* Dark Star: 110 
	* Evergreen: 110 
	* Injection: 110 
	* PHP4: 110 
	* Python Eval 3: 110 
	* Black Hole: 115
	* Harder Serial: 120 
	* ROP 2: 120 
	* PHP3: 120 
	* Core Decryption: 120 
	* Overflow 3: 120 
	* Broken CBC: 125
	* Python Eval 4: 130 
	* Python Eval 5: 140
	* ROP 3: 150 
	* Overflow 4: 150
	* ROP 4: 165
	* Broken RSA: 180
	* Format 2: 180
	* Mildly Evil: 185
	* Overflow 5: 190
	* moreevil: 200