//-; { "page": "home", "title": "Home" }
style.
	.title { font-size: 65px; }
	.subtitle { font-size: 35px; font-weight: 300; }

	.info { text-align: center; }
	@media (min-width: 768px) {
		.info { margin-top: 40px; }
	}
	@media (min-width: 992px) {
		.info { margin-bottom: 20px; }
	}

	.lead {
		font-weight: 400;
		margin-bottom: 10px;
		padding: 0 10px;
	}

	.me { padding: 20px 0; }
.row
	.col-sm-1
	.col-sm-10
		.info.text-center
			h1.title.
				Hi, I'm Luke
			h4.subtitle.
				I <a href="/Projects/index.html">make</a> and <a href="/Security/index.html">break</a> Software.
	.col-sm-1
hr
.row.text-center.me
	p.lead.
		Hello, I'm Luke. I'm a 17 year old high school student fascinated with Software Development and Security Research.
	p.lead.
		You can find information about my current employment on my <a href="http://lnkd.in/bUn9C9M">LinkedIn</a> and the some of the projects I've worked on, like this site, via my <a href="https://github.com/innoying">Github</a>.
	