//-; { "page": "projects", "title": "Projects" }
.text-center
	.row
		.col-sm-4
			h1
				strong
					a(href='https://github.com/innoying/iOS-sbutils') iOS sbutils
			hr
			p
				| Updated version of Erica Sadun's sbutils with many of my own added in. Currently boasts 
				strong well over a million installs
				| .
		.col-sm-4
			h1
				strong
					a(href='https://github.com/innoying/iOS-CDevReporter') iOS CDevReporter 
			hr
			p
				| Port (with permission) of Chronic Dev team's 
				a(href='http://greenpois0n.com/2011/11/weapons-of-mass-exploitation/') CDevReporter
				|  to iOS. 
				strong 35,000+ Installs
				|  .
		.col-sm-4
			h1
				strong
					a(href='https://github.com/innoying/Halyard.js') Halyard.js
			hr
			p
				| Using information reverse engineered from the FRC source code and raw packet capture, provides a JavaScript interface for the FRC Driver Station to control robots.
	.row
		.col-sm-4
			h1
				strong
					a(href='https://github.com/innoying/Halyard') Halyard
			hr
			p
				| Using 
				a(href='https://github.com/innoying/Halyard.js') Halyard.js
				| , provides a method to control FRC Robots using a chrome Extension and the HTML5 Gamepad API.
		.col-sm-4
			h1
				strong
					a(href='http://green-abo.de/') Green Abode
			hr
			p
				| A website created in the week before the BPA Website Design Competition.
		.col-sm-4
			h1
				strong
					a(href='https://github.com/innoying/PianoKeys') PianoKeys
			hr
			p
				| A application for Mac OS X that binds the media keys to 
				a(href='https://github.com/PromyLOPh/pianobar') pianobar
				| .
	br
	br
	br
	p.lead
		b
			| I have not fully updated this page, there is more content coming, in the meantime, check out my 
			a(href='https://github.com/innoying') github
			|  or send me an 
			a(href='/Contact/') email
			|  with your questions.
