//-; { "title": "Failure to Boot (20) Solution picoCTF 2013" }
:markdown
	# picoCTF 2013: Failure to Boot (20)
	---
	## Challenge:
	After opening the robot's front panel and looking inside, you discover a small red button behind a tangle of wires. Pressing the button lights up the robot's primary screen. It glows black and quickly flashes blue. A line of small text types out:
	```
	ERROR: 0x00000023
	```
	The text refreshes and displays the prompt:
	```
	FILE SYSTEM RECOVERY INITIATED...
	FILE SYSTEM COULD NOT BE IDENTIFIED...
	PLEASE ENTER FILE SYSTEM FORMAT:
	```

	## Solution:
	A simple [google search](http://lmgtfy.com/?q=0x00000023) for `0x00000023` will return the [first result](http://support.microsoft.com/kb/900626) from Microsoft Support for FAT_FILE_SYSTEM. This leads to our final answer:
	```
	FAT
	```