//-; { "title": "Technician Challenge (30) Solution picoCTF 2013" }
:markdown
	# picoCTF 2013: Technician Challenge (30)
	---
	## Challenge:
	The spaceport technician waves to you and you approach him. He tells you that he has noticed you walking around suspiciously. He adds that he knows the door code and is willing to give it to you for answering a small trivia question.
	```
	For what kind of car was the first unlocked iPhone traded?
	```

	## Solution:
	Knowing George Hotz was the first person to unlock and sell his unlocked iPhone. Looking at the [Wikipedia](http://en.wikipedia.org/wiki/George_Hotz) page for George Hotz we find that it was traded for a Nissan 350Z. This leaves us with our key:
	```
	Nissan 350Z
	```