//-; { "page": "security", "title": "Security" }
.text-center
	.row
		.col-sm-4
			h1
				strong
					a(href='iOS/OTA/') iOS OTA Updates
			hr
			p
				| Analysis of the iOS OTA update protocol.
		.col-sm-4
			h1
				strong
					a(href='Google/Chrome/') Google Chrome
			hr
			p
				| Exploiting the Google Chrome developer tools for a universal cross site scripting attack
		.col-sm-4
			h1
				strong
					a(href='picoCTF/') picoCTF
			hr
			p
				| Solutions to the picoCTF competitions.
	.row
		.col-sm-4
			h1
				strong
					a.mix-gray(href='#', onclick="alert('I haven\'t finished this yet, sorry.');") Google ChromeCast
			hr
			p
				| Analysis of the the protocol and OS of the Google ChromeCast.
		.col-sm-4
			h1
				strong
					a.mix-gray(href='#', onclick="alert('I haven\'t finished this yet, sorry.');") FRC cRIO
			hr
			p
				| Analysis of the the protocol of the FRC cRIO and accompanying Driver Station.
	br
	br
	br
	p.lead
		b
			| I have more articles and posts ready for this page, but many are awaiting permission to publish. In the meantime, checkout my 
			a(href='https://github.com/innoying') GitHub
			|  for a sneak peak of new projects I'm working on.